# Dependências
node_modules/

# Saída de build
dist/
.astro/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/*
!.vscode/extensions.json
